################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Rdz.FPG/.vs/Rdz.FPG/v16/Server/sqlite3
*.suo
/src/Rdz.FPG/bin
/src/Rdz.FPG/obj/Debug
/src/Rdz.FPG/packages
