################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Rdz.FPG/.vs/Rdz.FPG/v16/Server/sqlite3
