@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>  (sorry, I don't provide you support...)
</address>

This software is provided as is, no warranty provided. Anyway, it's just a simple tool.