@{
    ViewBag.Title = "Rdz.FPG - Friendly Password Generator";
}

<div class="jumbotron">
    <h1>Rdz.FPG</h1>
	<p class="lead">Rdz.FPG gives you a simplified and easy-to-remember password generator tool.</p>
	<p>
		@Html.ActionLink("Learn more...", "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
	</p>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="form-group">
			<label class="col-form-label col-form-label-lg" for="txtPreferred">Preferred password</label>
			<input class="form-control form-control-lg" type="text" placeholder="Type your preferred password" id="txtPreferred" onkeyup="generatePassword()">
		</div>
		<div class="form-group">
			<label class="col-form-label col-form-label-lg" for="txtGenerated">Generated password</label>
			<input class="form-control form-control-lg" type="text" placeholder="Generated password" id="txtGenerated">
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" disabled="" checked="" id="tglUpperLower">
						<label class="custom-control-label" for="tglUpperLower">Uppercase and lowercase</label>
					</div>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="tglNumbers" checked="" onchange="generatePassword()">
						<label class="custom-control-label" for="tglNumbers">Numbers</label>
					</div>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="tglSymbols" checked="" onchange="generatePassword()">
						<label class="custom-control-label" for="tglSymbols">Symbols</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>