
@{
    ViewBag.Title = "Rdz.FreeTools";
}
<script type="text/javascript">
</script>
<div class="jumbotron">
    <h1>Rdz.FreeTools</h1>
    <p class="lead">Another Rdz free tools.</p>
    <p>
        @Html.ActionLink("Learn more...", "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("VerticalMenu")
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-form-label col-form-label-lg" for="txtPreferred">Preferred password</label>
            <div class="input-group">
                <input class="form-control form-control-lg" type="text" placeholder="Type your preferred password" id="txtPreferred" onkeyup="generatePassword()" />
                <button type="button" title="Generate again" class="btn btn-outline-secondary" onclick="generatePassword(); return false;"><i class="fas fa-sync-alt"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label col-form-label-lg" for="txtGenerated">Generated password</label>
            <div class="input-group">
                <input class="form-control form-control-lg" type="text" placeholder="Generated password" id="txtGenerated" />
                <button type="button" title="Copy" class="btn btn-outline-secondary" onclick="CopyClipboard('txtGenerated'); return false;"><i class="far fa-clone"></i></button>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" disabled="" checked="" id="tglUpperLower" />
                <label class="custom-control-label" for="tglUpperLower">Uppercase and lowercase</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="tglNumbers" checked="" onchange="generatePassword()" />
                <label class="custom-control-label" for="tglNumbers">Numbers</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="tglSymbols" checked="" onchange="generatePassword()" />
                <label class="custom-control-label" for="tglSymbols">Special characters, i.e. ~!@@#$%^&*_-+=`|\(){}[]:;"'&lt;&gt;,.?/</label>
            </div>
        </div>
    </div>
</div>
