<div class="list-group">
    <a href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action" title="a simplified and easy-to-remember password generator tool.">
        Friendly Password Generator
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
        coming soon...
    </a>
</div>